*.log
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
.DS_Store
.DS_Store?
.Spotlight-V100
.Trash-*
.Trashes
.build
.cache
.coverage*
.env
.vscode*/
/data_dev/
/packages/**/target
/target
/tmp*
Icon?
Thumbs.db
ehthumbs.db
