*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.so
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
.DS_Store
.DS_Store?
.Python
.Spotlight-V100
.Trash-*
.Trashes
._*
.cache
.coverage
.coverage.*
.directory
.eggs/
.installed.cfg
.tox/
.vscode/
/\.build
/\.cache
/packages/**/target
/target
/test/treetime_examples
/tmp*
Icon?
Thumbs.db
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
ehthumbs.db
env/
nosetests.xml
target/
