[MASTER]
ignore=.git .idea .input .output .temp .venv .vscode

[MESSAGES CONTROL]
disable=
  bad-continuation,
  bad-whitespace,
  bare-except,
  chained-comparison,
  consider-using-in,
  fixme,
  invalid-name,
  len-as-condition,
  line-too-long,
  missing-docstring,
  multiple-imports,
  no-else-continue,
  no-else-raise,
  no-else-return,
  no-self-use,
  protected-access,
  too-many-arguments,
  too-many-branches,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-statements,
  trailing-newlines,
  unidiomatic-typecheck,
  unnecessary-comprehension,
  unnecessary-pass,
  useless-object-inheritance,

  duplicate-code,

  unused-argument,
  unused-import,
  unused-variable,

  simplifiable-if-expression,
  simplifiable-if-statement,
  singleton-comparison,

  attribute-defined-outside-init,
  multiple-statements,
  redefined-outer-name,

  cyclic-import,
  import-error,
  import-outside-toplevel,
  reimported,
  wrong-import-order,
  wrong-import-position,

[BASIC]
bad-names=foo,baz,toto,tutu,tata,let,const,nil,null,define
good-names=a,b,c,e,f,g,i,j,k,x,y,z,ex,Run,_,__,___

extension-pkg-whitelist=numpy
